* {
    margin: 0;
    padding: 0;
}
:root{
    --main-color: #1880c8;
    --active-color: #f65742;
    --hover-color: #ffdb0e;
}
body{
    background-color: #3c3c3c;
}

main {
    width: 1020px;
    margin: auto;
}

.keyboard {
    display: grid;
    grid-row-gap: 10px;
    padding: 10px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    background: #3c3c3c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 3px solid #222;
}

.keyboard__row {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
}

.keyboard__key {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1880c8;
    border-radius: 10px;
    background: linear-gradient(145deg, #404040, #363636);
    box-shadow: 0 0 5px #1880c8;
    animation: changeColor 5s linear infinite;
}
.keyboard__key:hover {
    color: var(--hover-color);
    box-shadow: 0 0 5px var(--hover-color);
}

[data-fn="false"].active,
[data-fn="true"].active {
    border-radius: 15px;
    background: linear-gradient(145deg, #363636, #404040);
    box-shadow: 0 0 10px #f65742;
}

[data-fn="false"].active .letter,
[data-fn="true"].active .letter {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    color: #f65742;
    
}

[data-fn="true"]>.letter {
    font-size: 16px;
}

[data-code="CapsLock"] {
    width: 86px;
}

[data-code="ShiftLeft"] {
    width: 100px;
}

[data-code="ShiftRight"] {
    width: 120px;
}

[data-code="Enter"] {
    width: 100px;
}

[data-code="Tab"] {
    width: 76px;
}

[data-code="ControlLeft"] {
    width: 76px;
}

[data-code="ControlRight"] {
    width: 60px;
}

[data-code="Backspace"] {
    width: 115px;
}

[data-code="Space"] {
    width: 420px;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
    width: 76px;
}

.active {
    background: rgb(60, 212, 0);
}

.letter {
    font-size: 25px;
    width: 100%;
    text-align: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform-origin: center;
}
.title{
    color: var(--active-color);
}
.subtitle,
.hint {
    color: #ccc;
}

textarea.output {
    background-color: #3c3c3c;
    color: var(--active-color);
    resize: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.sub {
    width: 100%;
    color: #999;
    text-align: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    width: 50%;
    transform-origin: center top;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

.sub.sub-active:not(:empty) {
    color: #1880c8;
    text-align: center;
    padding: 0;
    font-size: 23px;
    width: 50%;
    width: 50%;
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
}

.sub.sub-active:not(:empty)~.letter.sub-inactive {
    color: #999;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    width: 50%;
    transform-origin: center;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}
@keyframes changeColor {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}